.mainContainer{
      height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-container {
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  box-shadow: 7px 5px 29px plum;
}

h1 {
  text-align: center;
  font-family: cursive;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: cursive;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: cursive;
}

.signup-button {
  padding: 10px 30px;
  background-color: #800064e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: cursive;
  font-size: 15px;
}

.signup-button:hover {
  background-color: #80006469;
}

p {
  text-align: center;
  font-family: cursive;
}

a {
  color: black;
  text-decoration: none;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.buttonContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  color: red;
    font-family: cursive;
}
